.sign-in{
  width: 410px;
  display:flex;
  flex-direction: column;
  /*to make all items in sign in set vertically*/
  .title{
    margin: 10px 0px;
  }

  .buttons{
    display:flex;
    justify-content: space-between;
  }
}